.env

# Testing
/coverage

# Hardhat files
/cache
/artifacts

# solidity-coverage files
/coverage
/coverage.json

# Wagmi
src/generated.ts

# Dependencies
.yarn
node_modules

# Compiled Typescript
dist